<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Shop - Heizen &amp; Klima Günstig kaufen</title>
	<atom:link href="https://www.holzelektro.com/shop/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.holzelektro.com/shop/</link>
	<description></description>
	<lastBuildDate>Thu, 13 Oct 2022 13:57:41 +0000</lastBuildDate>
	<language>de-DE</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	
	<item>
		<title>Saxoniapellets 6mm ENplusA1, 66 x 15kg Palette</title>
		<link>https://www.holzelektro.com/ref/saxoniapellets-6mm-enplusa1-66-x-15kg-palette/</link>
					<comments>https://www.holzelektro.com/ref/saxoniapellets-6mm-enplusa1-66-x-15kg-palette/#respond</comments>
		
		<dc:creator><![CDATA[holzelektro2022]]></dc:creator>
		<pubDate>Thu, 13 Oct 2022 13:41:27 +0000</pubDate>
				<guid isPermaLink="false">https://www.holzelektro.com/?post_type=product&#038;p=4561</guid>

					<description><![CDATA[<p><span style="font-size: 18px;"><strong>Produkt-Highlights</strong></span><br />
ENplusA1 zertifiziert<br />
Nadelholz<br />
Technisch getrocknet<br />
Sofort gebrauchsfertig</p>
<p>The post <a rel="nofollow" href="https://www.holzelektro.com/ref/saxoniapellets-6mm-enplusa1-66-x-15kg-palette/">Saxoniapellets 6mm ENplusA1, 66 x 15kg Palette</a> appeared first on <a rel="nofollow" href="https://www.holzelektro.com">Heizen &amp; Klima Günstig kaufen</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><span style="font-size: 20px;"><strong>Produktdetails</strong></span></p>
<p><strong>Einsatzweck : Heizen</strong><br />
<strong>Lagerart : Palette</strong><br />
<strong>Nachhaltigkeit : Sägemehl aus Sägeholz nachhaltiger Forstwirtschaft</strong><br />
<strong>Zertifikat : ENplusA1 zertifiziert</strong><br />
<strong>Holzart : Nadelholz</strong><br />
<strong>Holzlänge : 6 mm Durchmesser, 2-3cm mittlere Länge gemäß Zertifikat</strong><br />
<strong>Gewicht : 15 kg/Sack, 990 kg/Palette (66 Sack)</strong><br />
<strong>Brennwert : 72-78 kWh/Sack, 4752-5148 kWh/Palette (66Sack)</strong><br />
<strong>Einzelpackmaß (LxBxH) : 30x12x67</strong><br />
<strong>Wassergehalt : &lt; 8 %</strong><br />
<strong>Restfeuchte : &lt; 9 %</strong><br />
<strong>Art der Trocknung : technisch getrocknet</strong><br />
<strong>Verbrauchsfertigkeit : sofort gebrauchsfertig</strong><br />
<strong>Lagerfähigkeit : in mitgelieferter Folie ist Palette draußen lagerfähig</strong><br />
<strong>Herkunft : Sachsen</strong><br />
<strong>Gewicht inkl. Verpackung : 998 kg</strong><br />
<strong>Größe inkl. Verpackung (LxBxH) : 125 cm × 90 cm × 145 cm</strong></p>
<p>The post <a rel="nofollow" href="https://www.holzelektro.com/ref/saxoniapellets-6mm-enplusa1-66-x-15kg-palette/">Saxoniapellets 6mm ENplusA1, 66 x 15kg Palette</a> appeared first on <a rel="nofollow" href="https://www.holzelektro.com">Heizen &amp; Klima Günstig kaufen</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://www.holzelektro.com/ref/saxoniapellets-6mm-enplusa1-66-x-15kg-palette/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>REZULT Premium Holzpellets ENplusA1, 70 x 15kg Palette</title>
		<link>https://www.holzelektro.com/ref/rezult-premium-holzpellets-enplusa1-70-x-15kg-palette/</link>
					<comments>https://www.holzelektro.com/ref/rezult-premium-holzpellets-enplusa1-70-x-15kg-palette/#respond</comments>
		
		<dc:creator><![CDATA[holzelektro2022]]></dc:creator>
		<pubDate>Thu, 13 Oct 2022 13:34:12 +0000</pubDate>
				<guid isPermaLink="false">https://www.holzelektro.com/?post_type=product&#038;p=4556</guid>

					<description><![CDATA[<p><strong>Produkt-Highlights</strong><br />
minimaler Abrieb<br />
minimale Asche<br />
hohe Heizleistung<br />
nahezu frei von Abrieb</p>
<p>The post <a rel="nofollow" href="https://www.holzelektro.com/ref/rezult-premium-holzpellets-enplusa1-70-x-15kg-palette/">REZULT Premium Holzpellets ENplusA1, 70 x 15kg Palette</a> appeared first on <a rel="nofollow" href="https://www.holzelektro.com">Heizen &amp; Klima Günstig kaufen</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><span style="font-size: 20px;"><strong>Produktdetails</strong></span></p>
<ul>
<li><strong>zertifizierte Pellets in bester ENplusA1 Qualität</strong></li>
<li><strong>70 x 15kg Säcke pro Palette, gesamt 1050kg</strong></li>
<li><strong>Durchmesser 6mm</strong></li>
<li><strong>Hoher Heizwert &gt; 5,0 kWh/kg</strong></li>
<li><strong>Niedriger Aschegehalt (ca. 0,3%)</strong></li>
<li><strong>Sehr niedrige Feuchtigkeit &lt; 3%</strong></li>
<li><strong>Schüttdichte ca. 700 kg/m3</strong></li>
<li><strong>Ascheschmelztemperatur &gt;1200°C</strong></li>
<li><strong>Nahezu frei von Abrieb</strong></li>
<li><strong>Niedrige CO2-Emission während der Verbrennung</strong></li>
<li><strong>Saubere und handliche Lagerung in 15kg Säcken</strong></li>
<li><strong>Komfortable und bequeme Lieferung auf pfandfreien Einwegpaletten, sicher verpackt mit POWER-Stretchfolie und Wetterschutzhaube</strong></li>
<li><strong>Nachhaltige Herstellung mit FSC-Zertifikat</strong></li>
</ul>
<p>The post <a rel="nofollow" href="https://www.holzelektro.com/ref/rezult-premium-holzpellets-enplusa1-70-x-15kg-palette/">REZULT Premium Holzpellets ENplusA1, 70 x 15kg Palette</a> appeared first on <a rel="nofollow" href="https://www.holzelektro.com">Heizen &amp; Klima Günstig kaufen</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://www.holzelektro.com/ref/rezult-premium-holzpellets-enplusa1-70-x-15kg-palette/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>HS TIMBER Premium Holzpellets 6mm ENplusA1, 66 x 15kg Palette</title>
		<link>https://www.holzelektro.com/ref/hs-timber-premium-holzpellets-6mm-enplusa1-66-x-15kg-palette/</link>
					<comments>https://www.holzelektro.com/ref/hs-timber-premium-holzpellets-6mm-enplusa1-66-x-15kg-palette/#respond</comments>
		
		<dc:creator><![CDATA[holzelektro2022]]></dc:creator>
		<pubDate>Thu, 13 Oct 2022 00:34:56 +0000</pubDate>
				<guid isPermaLink="false">https://www.holzelektro.com/?post_type=product&#038;p=4545</guid>

					<description><![CDATA[<p><strong>Produkt-Highlights</strong><br />
Feinanteile unter 0,3%<br />
Heizwert 17-18,5 MJ/kg<br />
Aschegehalt &#60; 0,5%<br />
Restfeuchte &#60;10%<br />
Dichte &#62;1,15 kg/dm³</p>
<p>The post <a rel="nofollow" href="https://www.holzelektro.com/ref/hs-timber-premium-holzpellets-6mm-enplusa1-66-x-15kg-palette/">HS TIMBER Premium Holzpellets 6mm ENplusA1, 66 x 15kg Palette</a> appeared first on <a rel="nofollow" href="https://www.holzelektro.com">Heizen &amp; Klima Günstig kaufen</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><span style="font-size: 20px;"><strong>Produktdetails</strong></span></p>
<ul>
<li>ENplusA1 zertifizierte PREMIUM Pellets</li>
<li>hergestellt aus Kiefer- und Fichtenholz, aus nachhaltiger Forstwirtschaft (FSC zertifiziert)</li>
<li>66 x 15kg Säcke / Einwegpalette</li>
<li>Gesamtmenge 990kg netto Holzpellets</li>
<li>Abmessungen Ø 6 mm, 20-30 mm Länge</li>
<li>Feinanteile unter 0,3%</li>
<li>Heizwert  17-18,5 MJ/kg</li>
<li>Aschegehalt &lt; 0,5%</li>
<li>Restfeuchte &lt;10%</li>
<li>Dichte &gt;1,15 kg/dm³</li>
<li>saubere und handliche Lagerung in 15kg Säcken</li>
<li>komfortable und bequeme Lieferung auf pfandfreien Einwegpaletten mit wetterfester Regenhaube</li>
<li>ausschließliche Verwendung von produktionseigenen Sägespänen, garantiert frei von Rinde</li>
<li>Premium Holzpellets hergestellt in Sachse</li>
</ul>
<p>The post <a rel="nofollow" href="https://www.holzelektro.com/ref/hs-timber-premium-holzpellets-6mm-enplusa1-66-x-15kg-palette/">HS TIMBER Premium Holzpellets 6mm ENplusA1, 66 x 15kg Palette</a> appeared first on <a rel="nofollow" href="https://www.holzelektro.com">Heizen &amp; Klima Günstig kaufen</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://www.holzelektro.com/ref/hs-timber-premium-holzpellets-6mm-enplusa1-66-x-15kg-palette/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Rundholz Birke 28 cm im Sack</title>
		<link>https://www.holzelektro.com/ref/rundholz-birke-28-cm-im-sack/</link>
					<comments>https://www.holzelektro.com/ref/rundholz-birke-28-cm-im-sack/#respond</comments>
		
		<dc:creator><![CDATA[holzelektro2022]]></dc:creator>
		<pubDate>Sat, 23 Jul 2022 12:25:33 +0000</pubDate>
				<guid isPermaLink="false">https://www.holzelektro.com/?post_type=product&#038;p=3674</guid>

					<description><![CDATA[<p><strong><span style="font-size: 20px;">Produkt-Highlights</span></strong><br />
Material : Birke<br />
Restfeuchte : 15 – 18%<br />
Heizwert : ca. 4,3 kWh/kg<br />
Abmessungen : 28 cm<br />
36 Sack á 40L/15kg</p>
<p>The post <a rel="nofollow" href="https://www.holzelektro.com/ref/rundholz-birke-28-cm-im-sack/">Rundholz Birke 28 cm im Sack</a> appeared first on <a rel="nofollow" href="https://www.holzelektro.com">Heizen &amp; Klima Günstig kaufen</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><strong><span style="font-size: 20px;">Produktdetails</span></strong></p>
<p>Material : Birke<br />
Restfeuchte : 15 – 18%<br />
Heizwert : ca. 4,3 kWh/kg<br />
Abmessungen : 28 cm Scheitlänge<br />
Gewicht : 540 kg<br />
Trocknung : kammergetrocknet<br />
Gröss : 0.8 × 1.2 × 1.2 m<br />
Menge pro sack : 40 Liter<br />
Menge : 36 Sack<br />
Abpackung : Einwegpalette<br />
Paletten : 110 x 100 x ca. 120cm<br />
Palettengewicht : ca. 540kg netto</p>
<p>The post <a rel="nofollow" href="https://www.holzelektro.com/ref/rundholz-birke-28-cm-im-sack/">Rundholz Birke 28 cm im Sack</a> appeared first on <a rel="nofollow" href="https://www.holzelektro.com">Heizen &amp; Klima Günstig kaufen</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://www.holzelektro.com/ref/rundholz-birke-28-cm-im-sack/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Brennholz Buche 28 cm im Sack</title>
		<link>https://www.holzelektro.com/ref/brennholz-buche-im-sack/</link>
					<comments>https://www.holzelektro.com/ref/brennholz-buche-im-sack/#respond</comments>
		
		<dc:creator><![CDATA[holzelektro2022]]></dc:creator>
		<pubDate>Sat, 23 Jul 2022 01:03:03 +0000</pubDate>
				<guid isPermaLink="false">https://www.holzelektro.com/?post_type=product&#038;p=3663</guid>

					<description><![CDATA[<p><strong><span style="font-size: 20px;">Produkt-Highlights</span></strong><br />
Material : Buche<br />
Restfeuchte : 15 – 22%<br />
Heizwert : ca. 4,3 kWh/kg<br />
Abmessungen : 28 cm<br />
36 Sack á 40L/15kg</p>
<p>The post <a rel="nofollow" href="https://www.holzelektro.com/ref/brennholz-buche-im-sack/">Brennholz Buche 28 cm im Sack</a> appeared first on <a rel="nofollow" href="https://www.holzelektro.com">Heizen &amp; Klima Günstig kaufen</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><strong><span style="font-size: 20px;">Produktdetails</span></strong></p>
<p>Material : Buche<br />
Restfeuchte : 15 – 22%<br />
Heizwert : ca. 4,3 kWh/kg<br />
Abmessungen : 28 cm Scheitlänge<br />
Gewicht : 540 kg<br />
Trocknung : kammergetrocknet<br />
Gröss : 0.8 × 1.2 × 1.2 m<br />
Menge pro sack : 40 Liter<br />
Menge : 36 Sack<br />
Abpackung : Einwegpalette<br />
Paletten : 110 x 100 x ca. 120cm<br />
Palettengewicht : ca. 540kg netto</p>
<p>The post <a rel="nofollow" href="https://www.holzelektro.com/ref/brennholz-buche-im-sack/">Brennholz Buche 28 cm im Sack</a> appeared first on <a rel="nofollow" href="https://www.holzelektro.com">Heizen &amp; Klima Günstig kaufen</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://www.holzelektro.com/ref/brennholz-buche-im-sack/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>PANADERO Kaminofen Suerte, Stahl, 8 kW &#8211; schwarz</title>
		<link>https://www.holzelektro.com/ref/panadero-kaminofen-suerte-stahl-8-kw-schwarz/</link>
					<comments>https://www.holzelektro.com/ref/panadero-kaminofen-suerte-stahl-8-kw-schwarz/#respond</comments>
		
		<dc:creator><![CDATA[holzelektro2022]]></dc:creator>
		<pubDate>Sat, 23 Jul 2022 00:28:55 +0000</pubDate>
				<guid isPermaLink="false">https://www.holzelektro.com/?post_type=product&#038;p=3659</guid>

					<description><![CDATA[<p><strong><span style="font-size: 20px;">Produkt-Highlights</span></strong></p>
<ul class="ArticleInfoPropertyList Copy--strong">
<li class="ArticleInfoPropertyListBar">Dekorative Wärmequelle für den Innenbereich</li>
<li class="ArticleInfoPropertyListBar">Mit externer Luftzufuhr</li>
<li class="ArticleInfoPropertyListBar">Mit Scheibenspülung</li>
<li class="ArticleInfoPropertyListBar">Externe Luftzufuhr</li>
<li class="ArticleInfoPropertyListBar">Für 24 Stunden Dauerbetrieb geeignet</li>
</ul>
<p>The post <a rel="nofollow" href="https://www.holzelektro.com/ref/panadero-kaminofen-suerte-stahl-8-kw-schwarz/">PANADERO Kaminofen Suerte, Stahl, 8 kW &#8211; schwarz</a> appeared first on <a rel="nofollow" href="https://www.holzelektro.com">Heizen &amp; Klima Günstig kaufen</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><strong><span style="font-size: 20px;">Produktdetails</span></strong></p>
<p><b>Eigenschaften</b></p>
<ul>
<li>Marke: PANADERO</li>
<li>Einsatzbereich: innen</li>
<li>Form: eckig</li>
<li>Gewicht: 142 kg</li>
<li>Optik/Effekt: metallic</li>
<li>Scheibenform: eckig</li>
<li>EcoDesign 2022: Ja</li>
<li>Serienname: Suerte</li>
<li>Farbe: schwarz</li>
<li>Farbe Außenverkleidung: schwarz</li>
<li>Energieeffizienzklasse Skala: Skala A++ bis G</li>
<li>Farbe Korpus: schwarz</li>
</ul>
<p><b>Technische Daten</b></p>
<ul>
<li>Bauart Kamin/Ofen: A2</li>
<li>Brennmaterial Länge (max.): 50 cm</li>
<li>CO2-Emission: 0,1 g/m³</li>
<li>Energieeffizienzklasse: A</li>
<li>Erforderlicher Förderdruck: 12 Pa</li>
<li>Heizleistung (max.): 8 kW</li>
<li>Nennwärmeleistung: 8 kW</li>
<li>Staubgehalt: 20 mg/m³</li>
<li>Wirkungsgrad: 78,5 %</li>
</ul>
<p><b>Maßangaben</b></p>
<ul>
<li>Höhe: 100,3 cm</li>
<li>Breite: 50 cm</li>
<li>Tiefe: 50 cm</li>
<li>Feuerraum Breite: 38 cm</li>
<li>Feuerraum Höhe: 49 cm</li>
<li>Feuerraum Tiefe: 34 cm</li>
<li>Tiefe von Hinterkante bis Mitte Rauchrohrstutzen oben: 19,5 cm</li>
<li>Ofen Breite: 50 cm</li>
<li>Ofen Höhe: 100,3 cm</li>
<li>Ofen Tiefe: 50 cm</li>
<li>Rohrdurchmesser: 150 mm</li>
<li>Sicherheitsabstand hinten: 60 cm</li>
<li>Sicherheitsabstand seitlich: 60 cm</li>
<li>Sicherheitsabstand vorne: 60 cm</li>
</ul>
<p><b>Materialangaben</b></p>
<ul>
<li>Material Innenverkleidung: Vermiculit</li>
<li>Material Verkleidung: Stahl</li>
</ul>
<p><b>Funktionen und Ausstattung</b></p>
<ul>
<li>Anschlagrichtung: links</li>
<li>Aschebehälter: Ja</li>
<li>Ascherost: Ja</li>
<li>Ausstattungsdetails: SCHEIBENSPÜHLUNG</li>
<li>Automatikregelung: Nein</li>
<li>Dauerbrand: Nein</li>
<li>Sichtscheibe: Ja</li>
<li>Speichersteine: Nein</li>
<li>Verriegelung: 2-Punkt</li>
<li>Wasserführend: Nein</li>
<li>Zeitbrand: Ja</li>
<li>Ausstattung: SCHEIBENSPÜHLUNG</li>
</ul>
<p><b>Normen</b></p>
<ul>
<li>DIN/ISO/EN: DIN 13240</li>
<li>Prüfnummer: 39-11540-T-3 SZU</li>
<li>VKF Schweiz: Nein</li>
<li>Münchener Norm: Nein</li>
<li>2. Stufe BImSchV: Ja</li>
<li>DINplus: Ja</li>
<li>Regensburger Norm: Nein</li>
<li>DIN EN 13240: Ja</li>
<li>Ö-Norm § 15 A: Ja</li>
</ul>
<p><b>Hinweise</b></p>
<ul>
<li>Aufbauhinweise: Zur Aufstellung ist ein feuerfester Untergrund Voraussetzung, andernfalls eine Stahl- oder Glasbodenplatte.</li>
<li>Herstellergarantie: 5 JAHRE</li>
</ul>
<p><b>Lieferung</b></p>
<ul>
<li>Lieferumfang: Kaminofen, Bedienungsanleitung</li>
</ul>
<p>The post <a rel="nofollow" href="https://www.holzelektro.com/ref/panadero-kaminofen-suerte-stahl-8-kw-schwarz/">PANADERO Kaminofen Suerte, Stahl, 8 kW &#8211; schwarz</a> appeared first on <a rel="nofollow" href="https://www.holzelektro.com">Heizen &amp; Klima Günstig kaufen</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://www.holzelektro.com/ref/panadero-kaminofen-suerte-stahl-8-kw-schwarz/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>PANADERO Kaminofen Oval, Stahl, 8,7 kW &#8211; schwarz</title>
		<link>https://www.holzelektro.com/ref/panadero-kaminofen-oval-stahl-87-kw-schwarz/</link>
					<comments>https://www.holzelektro.com/ref/panadero-kaminofen-oval-stahl-87-kw-schwarz/#respond</comments>
		
		<dc:creator><![CDATA[holzelektro2022]]></dc:creator>
		<pubDate>Sat, 23 Jul 2022 00:17:16 +0000</pubDate>
				<guid isPermaLink="false">https://www.holzelektro.com/?post_type=product&#038;p=3656</guid>

					<description><![CDATA[<p><strong><span style="font-size: 20px;">Produkt-Highlights</span></strong></p>
<ul class="ArticleInfoPropertyList Copy--strong">
<li class="ArticleInfoPropertyListBar">Wärmequelle für den Innenbereich in einem modernen Design</li>
<li class="ArticleInfoPropertyListBar">Mit externer Luftzufuhr</li>
<li class="ArticleInfoPropertyListBar">Feuerraum für Holzscheite bis 50 cm</li>
<li class="ArticleInfoPropertyListBar">Für 24 Stunden Dauerbetrieb geeignet</li>
</ul>
<p>The post <a rel="nofollow" href="https://www.holzelektro.com/ref/panadero-kaminofen-oval-stahl-87-kw-schwarz/">PANADERO Kaminofen Oval, Stahl, 8,7 kW &#8211; schwarz</a> appeared first on <a rel="nofollow" href="https://www.holzelektro.com">Heizen &amp; Klima Günstig kaufen</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><strong><span style="font-size: 20px;">Produktdetails</span></strong></p>
<p><b>Eigenschaften</b></p>
<ul>
<li>Marke: PANADERO</li>
<li>Einsatzbereich: innen</li>
<li>Form: oval</li>
<li>Gewicht: 131 kg</li>
<li>Optik/Effekt: metallic</li>
<li>Scheibenform: eckig</li>
<li>Serienname: Oval</li>
<li>EcoDesign 2022: Ja</li>
<li>Herstellerfarbbezeichnung: Schwarz</li>
<li>Farbe: schwarz</li>
<li>Energieeffizienzklasse Skala: Skala A++ bis G</li>
<li>Farbe Korpus: schwarz-metallic</li>
<li>Farbe Außenverkleidung: schwarz</li>
</ul>
<p><b>Technische Daten</b></p>
<ul>
<li>Abgasmassenstrom: 8 g/s</li>
<li>Bauart Kamin/Ofen: A2</li>
<li>Brennmaterial Länge (max.): 50 cm</li>
<li>CO2-Emission: 0,1 g/m³</li>
<li>Energieeffizienzklasse: A+</li>
<li>Erforderlicher Förderdruck: 12 Pa</li>
<li>Heizleistung (max.): 8,7 kW</li>
<li>Nennwärmeleistung: 8,7 kW</li>
<li>Staubgehalt: 27 mg/m³</li>
<li>Wirkungsgrad: 80,7 %</li>
</ul>
<p><b>Maßangaben</b></p>
<ul>
<li>Höhe: 100,8 cm</li>
<li>Breite: 60,5 cm</li>
<li>Tiefe: 49 cm</li>
<li>Feuerraum Breite: 42 cm</li>
<li>Feuerraum Höhe: 50 cm</li>
<li>Feuerraum Tiefe: 29 cm</li>
<li>Tiefe von Hinterkante bis Mitte Rauchrohrstutzen oben: 14,3 cm</li>
<li>Ofen Breite: 60,5 cm</li>
<li>Ofen Höhe: 100,8 cm</li>
<li>Ofen Tiefe: 49 cm</li>
<li>Rohrdurchmesser: 150 cm</li>
<li>Sicherheitsabstand hinten: 60 cm</li>
<li>Sicherheitsabstand seitlich: 60 cm</li>
<li>Sicherheitsabstand vorne: 60 cm</li>
</ul>
<p><b>Materialangaben</b></p>
<ul>
<li>Material Innenverkleidung: Vermiculit</li>
<li>Material Verkleidung: Stahl</li>
</ul>
<p><b>Funktionen und Ausstattung</b></p>
<ul>
<li>Anschlagrichtung: rechts</li>
<li>Aschebehälter: Ja</li>
<li>Ascherost: Ja</li>
<li>Ausstattungsdetails: Scheibenspülung, externe Verbrennungsluftzufuhr</li>
<li>Automatikregelung: Nein</li>
<li>Dauerbrand: Nein</li>
<li>Sichtscheibe: Ja</li>
<li>Speichersteine: Nein</li>
<li>Verbrennungsluft: Externe Zufuhr</li>
<li>Verriegelung: 2-Punkt</li>
<li>Wasserführend: Nein</li>
<li>Zeitbrand: Ja</li>
<li>Ausstattung: Scheibenspülung, externe Verbrennungsluftzufuhr</li>
</ul>
<p><b>Normen</b></p>
<ul>
<li>DIN/ISO/EN: DIN 13240</li>
<li>Prüfnummer: 39-11540-T-7 SZU</li>
<li><a class="js-webViewPopover Copy--silent underlined Link--highlightOnOver" style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 16px; vertical-align: baseline; background: 0px 0px; color: grey !important; text-decoration: underline;" data-content="&lt;p&gt;Die Ö-Norm § 15 A bezeichnet Vereinbarungen zwischen den Bundesländern und dem Bund in Österreich zur Steigerung von Umweltfreundlichkeit und Energieeffizienz von Heizanlagen. Sie gilt seit 1995 und sieht strengere Mindestwirkungsgrade und Emissionswerke vor als europäische Normen.&lt;/p&gt;" data-placement="auto-top" data-trigger="click" data-behavior="popover" data-title="&lt;h4&gt;&lt;strong&gt;Ö-Norm § 15 A&lt;/strong&gt;&lt;/h4&gt;">Ö-Norm § 15 A</a>: Ja</li>
<li>VKF Schweiz: Nein</li>
<li>Münchener Norm: Nein</li>
<li>2. Stufe BImSchV: Ja</li>
<li>DINplus: Ja</li>
<li>Regensburger Norm: Nein</li>
<li>DIN EN 13240: Ja</li>
</ul>
<p><b>Hinweise</b></p>
<ul>
<li>Aufbauhinweise: Zur Aufstellung ist ein feuerfester Untergrund Voraussetzung, andernfalls eine Stahl- oder Glasbodenplatte.</li>
<li>Herstellergarantie: 5 JAHRE (Details siehe PDF &#8220;Garantiehinweis&#8221;)</li>
</ul>
<p><b>Lieferung</b></p>
<ul>
<li>Lieferumfang: Kaminofen, Bedienungsanleitung</li>
</ul>
<p>The post <a rel="nofollow" href="https://www.holzelektro.com/ref/panadero-kaminofen-oval-stahl-87-kw-schwarz/">PANADERO Kaminofen Oval, Stahl, 8,7 kW &#8211; schwarz</a> appeared first on <a rel="nofollow" href="https://www.holzelektro.com">Heizen &amp; Klima Günstig kaufen</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://www.holzelektro.com/ref/panadero-kaminofen-oval-stahl-87-kw-schwarz/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>PANADERO Kaminofen Iris, Stahl, 7,8 kW &#8211; schwarz</title>
		<link>https://www.holzelektro.com/ref/panadero-kaminofen-iris-stahl-78-kw-schwarz/</link>
					<comments>https://www.holzelektro.com/ref/panadero-kaminofen-iris-stahl-78-kw-schwarz/#respond</comments>
		
		<dc:creator><![CDATA[holzelektro2022]]></dc:creator>
		<pubDate>Fri, 22 Jul 2022 23:59:00 +0000</pubDate>
				<guid isPermaLink="false">https://www.holzelektro.com/?post_type=product&#038;p=3653</guid>

					<description><![CDATA[<p><strong><span style="font-size: 20px;">Produkt-Highlights</span></strong></p>
<ul class="ArticleInfoPropertyList Copy--strong">
<li class="ArticleInfoPropertyListBar">Dekorative Wärmequelle für den Wohnbereich</li>
<li class="ArticleInfoPropertyListBar">Raumheizvermögen von 200 m³</li>
<li class="ArticleInfoPropertyListBar">Rundumsicht auf die Flammen</li>
<li class="ArticleInfoPropertyListBar">Mit Scheibenspülung</li>
<li class="ArticleInfoPropertyListBar">Für 24 Stunden Dauerbetrieb geeignet</li>
</ul>
<p>The post <a rel="nofollow" href="https://www.holzelektro.com/ref/panadero-kaminofen-iris-stahl-78-kw-schwarz/">PANADERO Kaminofen Iris, Stahl, 7,8 kW &#8211; schwarz</a> appeared first on <a rel="nofollow" href="https://www.holzelektro.com">Heizen &amp; Klima Günstig kaufen</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><strong><span style="font-size: 20px;">Produktdetails</span></strong></p>
<p><b>Eigenschaften</b></p>
<ul>
<li>Marke: PANADERO</li>
<li>Einsatzbereich: innen</li>
<li>Form: oval</li>
<li>Gewicht: 110 kg</li>
<li>Optik/Effekt: metallic</li>
<li>Scheibenform: abgerundet</li>
<li>EcoDesign 2022: Ja</li>
<li>Serienname: Iris</li>
<li>Herstellerfarbbezeichnung: Schwarz</li>
<li>Farbe: schwarz</li>
<li>Energieeffizienzklasse Skala: Skala A++ bis G</li>
<li>Farbe Korpus: schwarz-metallic</li>
<li>Farbe Außenverkleidung: schwarz</li>
</ul>
<p><b>Technische Daten</b></p>
<ul>
<li>Abgasmassenstrom: 7 g/s</li>
<li>Abgastemperatur (max.): 295 °C</li>
<li>Bauart Kamin/Ofen: A2</li>
<li>Brennmaterial Länge (max.): 60 cm</li>
<li>CO2-Emission: 0,1 g/m³</li>
<li>Energieeffizienzklasse: A</li>
<li>Erforderlicher Förderdruck: 12 Pa</li>
<li>Heizleistung (max.): 7,8 kW</li>
<li>Nennwärmeleistung: 7,8 kW</li>
<li>Staubgehalt: 28 mg/m³</li>
<li>Wirkungsgrad: 76,8 %</li>
</ul>
<p><b>Maßangaben</b></p>
<ul>
<li>Höhe: 83,9 cm</li>
<li>Breite: 78 cm</li>
<li>Tiefe: 45,1 cm</li>
<li>Feuerraum Breite: 73,8 cm</li>
<li>Feuerraum Höhe: 38 cm</li>
<li>Feuerraum Tiefe: 35 cm</li>
<li>Tiefe von Hinterkante bis Mitte Rauchrohrstutzen oben: 16 cm</li>
<li>Ofen Breite: 78 cm</li>
<li>Ofen Höhe: 83,9 cm</li>
<li>Ofen Tiefe: 45,1 cm</li>
<li>Rohrdurchmesser: 150 mm</li>
<li>Sicherheitsabstand hinten: 60 cm</li>
<li>Sicherheitsabstand seitlich: 60 cm</li>
<li>Sicherheitsabstand vorne: 60 cm</li>
</ul>
<p><b>Materialangaben</b></p>
<ul>
<li>Material Innenverkleidung: Vermiculit</li>
<li>Material Verkleidung: Stahl</li>
</ul>
<p><b>Funktionen und Ausstattung</b></p>
<ul>
<li>Anschlagrichtung: links</li>
<li>Aschebehälter: Ja</li>
<li>Ascherost: Ja</li>
<li>Ausstattungsdetails: Scheibenspülung, Holzablage, dreiseitige Verglasung, Außenluftanschluss, Rüttelrost, Aschebehälter</li>
<li>Automatikregelung: Nein</li>
<li>Dauerbrand: Nein</li>
<li>Sichtscheibe: Ja</li>
<li>Speichersteine: Nein</li>
<li>Verriegelung: 2-Punkt</li>
<li>Wasserführend: Nein</li>
<li>Zeitbrand: Ja</li>
<li>Ausstattung: Scheibenspülung, Holzablage, dreiseitige Verglasung, Außenluftanschluss, Rüttelrost, Aschebehälter</li>
</ul>
<p><b>Normen</b></p>
<ul>
<li>DIN/ISO/EN: DIN 13240</li>
<li>Prüfnummer: 39-11540-T-5 SZU</li>
<li>Ö-Norm § 15 A: Nein</li>
<li>VKF Schweiz: Nein</li>
<li>Münchener Norm: Nein</li>
<li>2. Stufe BImSchV: Ja</li>
<li>DINplus: Ja</li>
<li>Regensburger Norm: Nein</li>
<li>DIN EN 13240: Ja</li>
</ul>
<p><b>Hinweise</b></p>
<ul>
<li>Aufbauhinweise: Zur Aufstellung ist ein feuerfester Untergrund Voraussetzung, andernfalls eine Stahl- oder Glasbodenplatte.</li>
<li>Herstellergarantie: 5 JAHRE</li>
</ul>
<p><b>Lieferung</b></p>
<ul>
<li>Lieferumfang: Kaminofen, Bedienungsanleitung</li>
</ul>
<p>The post <a rel="nofollow" href="https://www.holzelektro.com/ref/panadero-kaminofen-iris-stahl-78-kw-schwarz/">PANADERO Kaminofen Iris, Stahl, 7,8 kW &#8211; schwarz</a> appeared first on <a rel="nofollow" href="https://www.holzelektro.com">Heizen &amp; Klima Günstig kaufen</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://www.holzelektro.com/ref/panadero-kaminofen-iris-stahl-78-kw-schwarz/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>PANADERO Kaminofen Nevada, Stahl, 8,7 kW &#8211; schwarz</title>
		<link>https://www.holzelektro.com/ref/panadero-kaminofen-nevada-stahl-87-kw-schwarz/</link>
					<comments>https://www.holzelektro.com/ref/panadero-kaminofen-nevada-stahl-87-kw-schwarz/#respond</comments>
		
		<dc:creator><![CDATA[holzelektro2022]]></dc:creator>
		<pubDate>Fri, 22 Jul 2022 23:50:44 +0000</pubDate>
				<guid isPermaLink="false">https://www.holzelektro.com/?post_type=product&#038;p=3649</guid>

					<description><![CDATA[<p><strong><span style="font-size: 20px;">Produkt-Highlights</span></strong></p>
<ul class="ArticleInfoPropertyList Copy--strong">
<li class="ArticleInfoPropertyListBar">Dekorative Wärmequelle für den Innenbereich</li>
<li class="ArticleInfoPropertyListBar">Mit externer Luftzufuhr</li>
<li class="ArticleInfoPropertyListBar">Mit Scheibenspülung</li>
<li class="ArticleInfoPropertyListBar">Grosse Brennkammer</li>
<li class="ArticleInfoPropertyListBar">Für 24 Stunden Dauerbetrieb geeignet</li>
</ul>
<p>The post <a rel="nofollow" href="https://www.holzelektro.com/ref/panadero-kaminofen-nevada-stahl-87-kw-schwarz/">PANADERO Kaminofen Nevada, Stahl, 8,7 kW &#8211; schwarz</a> appeared first on <a rel="nofollow" href="https://www.holzelektro.com">Heizen &amp; Klima Günstig kaufen</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><strong><span style="font-size: 20px;">Produktdetails</span></strong></p>
<p><b>Eigenschaften</b></p>
<ul>
<li>Marke: PANADERO</li>
<li>Einsatzbereich: innen</li>
<li>Form: eckig</li>
<li>Gewicht: 100 kg</li>
<li>Optik/Effekt: metallic</li>
<li>Scheibenform: eckig</li>
<li>Serienname: NEVADA</li>
<li>EcoDesign 2022: Ja</li>
<li>Farbe: schwarz</li>
<li>Farbe Außenverkleidung: schwarz</li>
<li>Energieeffizienzklasse Skala: Skala A++ bis G</li>
<li>Farbe Korpus: schwarz-metallic</li>
</ul>
<p><b>Technische Daten</b></p>
<ul>
<li>Bauart Kamin/Ofen: A2</li>
<li>CO2-Emission: 0,1 g/m³</li>
<li>Energieeffizienzklasse: A</li>
<li>Erforderlicher Förderdruck: 12,1 Pa</li>
<li>Heizleistung (max.): 8,7 kW</li>
<li>Nennwärmeleistung: 8,7 kW</li>
<li>Wirkungsgrad: 75,3 %</li>
</ul>
<p><b>Maßangaben</b></p>
<ul>
<li>Höhe: 85 cm</li>
<li>Breite: 65 cm</li>
<li>Tiefe: 46,5 cm</li>
<li>Feuerraum Breite: 51 cm</li>
<li>Feuerraum Höhe: 54 cm</li>
<li>Feuerraum Tiefe: 33 cm</li>
<li>Tiefe von Hinterkante bis Mitte Rauchrohrstutzen oben: 12 cm</li>
<li>Ofen Breite: 65 cm</li>
<li>Ofen Höhe: 85 cm</li>
<li>Ofen Tiefe: 46,5 cm</li>
<li>Rohrdurchmesser: 150 mm</li>
<li>Sicherheitsabstand hinten: 60 cm</li>
<li>Sicherheitsabstand seitlich: 60 cm</li>
<li>Sicherheitsabstand vorne: 60 cm</li>
</ul>
<p><b>Materialangaben</b></p>
<ul>
<li>Material Innenverkleidung: Vermiculit</li>
<li>Material Verkleidung: Stahl</li>
</ul>
<p><b>Funktionen und Ausstattung</b></p>
<ul>
<li>Anschlagrichtung: rechts</li>
<li>Aschebehälter: Ja</li>
<li>Ascherost: Ja</li>
<li>Ausstattungsdetails: SCHEIBENSPÜHLUNG</li>
<li>Automatikregelung: Nein</li>
<li>Dauerbrand: Nein</li>
<li>Sichtscheibe: Ja</li>
<li>Speichersteine: Nein</li>
<li>Verriegelung: 2-Punkt</li>
<li>Wasserführend: Nein</li>
<li>Zeitbrand: Ja</li>
<li>Ausstattung: SCHEIBENSPÜHLUNG</li>
</ul>
<p><b>Normen</b></p>
<ul>
<li>DIN/ISO/EN: DIN 13240</li>
<li>Prüfnummer: EZKA/11/054-9 SGS</li>
<li>2. Stufe BImSchV: Ja</li>
<li>DIN EN 13240: Ja</li>
<li>DINplus: Ja</li>
<li>Ö-Norm § 15 A: Nein</li>
<li>Münchener Norm: Nein</li>
<li>Regensburger Norm: Nein</li>
<li>VKF Schweiz: Nein</li>
</ul>
<p><b>Hinweise</b></p>
<ul>
<li>Aufbauhinweise: Zur Aufstellung ist ein feuerfester Untergrund Voraussetzung, andernfalls eine Stahl- oder Glasbodenplatte.</li>
<li>Herstellergarantie: 5 JAHRE</li>
</ul>
<p><b>Lieferung</b></p>
<ul>
<li>Lieferumfang: Kaminofen, Bedienungsanleitung</li>
</ul>
<p>The post <a rel="nofollow" href="https://www.holzelektro.com/ref/panadero-kaminofen-nevada-stahl-87-kw-schwarz/">PANADERO Kaminofen Nevada, Stahl, 8,7 kW &#8211; schwarz</a> appeared first on <a rel="nofollow" href="https://www.holzelektro.com">Heizen &amp; Klima Günstig kaufen</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://www.holzelektro.com/ref/panadero-kaminofen-nevada-stahl-87-kw-schwarz/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>PANADERO Kaminofen Onix Wall, Stahl, 7,1 kW &#8211; schwarz</title>
		<link>https://www.holzelektro.com/ref/panadero-kaminofen-onix-wall-stahl-71-kw-schwarz/</link>
					<comments>https://www.holzelektro.com/ref/panadero-kaminofen-onix-wall-stahl-71-kw-schwarz/#respond</comments>
		
		<dc:creator><![CDATA[holzelektro2022]]></dc:creator>
		<pubDate>Fri, 22 Jul 2022 23:24:11 +0000</pubDate>
				<guid isPermaLink="false">https://www.holzelektro.com/?post_type=product&#038;p=3645</guid>

					<description><![CDATA[<p><strong><span style="font-size: 20px;">Produkt-Highlights</span></strong></p>
<ul class="ArticleInfoPropertyList Copy--strong">
<li class="ArticleInfoPropertyListBar">Dekorative Wärmequelle für den Innenbereich</li>
<li class="ArticleInfoPropertyListBar">Innovatives Design als Hängemodell</li>
<li class="ArticleInfoPropertyListBar">Mit Scheibenspülung</li>
<li class="ArticleInfoPropertyListBar">3-Seiten Sicht</li>
<li class="ArticleInfoPropertyListBar">Für 24 Stunden Dauerbetrieb geeignet</li>
</ul>
<p>The post <a rel="nofollow" href="https://www.holzelektro.com/ref/panadero-kaminofen-onix-wall-stahl-71-kw-schwarz/">PANADERO Kaminofen Onix Wall, Stahl, 7,1 kW &#8211; schwarz</a> appeared first on <a rel="nofollow" href="https://www.holzelektro.com">Heizen &amp; Klima Günstig kaufen</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><strong><span style="font-size: 20px;">Produktdetails</span></strong></p>
<p><b>Eigenschaften</b></p>
<ul>
<li>Marke: PANADERO</li>
<li>Einsatzbereich: innen</li>
<li>Form: eckig</li>
<li>Gewicht: 92 kg</li>
<li>Optik/Effekt: metallic</li>
<li>Scheibenform: eckig</li>
<li>EcoDesign 2022: Ja</li>
<li>Serienname: Onix Wall</li>
<li>Farbe: schwarz</li>
<li>Farbe Außenverkleidung: schwarz</li>
<li>Energieeffizienzklasse Skala: Skala A++ bis G</li>
<li>Farbe Korpus: schwarz-metallic</li>
</ul>
<p><b>Technische Daten</b></p>
<ul>
<li>Bauart Kamin/Ofen: A2</li>
<li>Brennmaterial Länge (max.): 50 cm</li>
<li>CO-Emission: 0,06 g/m³</li>
<li>CO2-Emission: 0,06 g/m³</li>
<li>Energieeffizienzklasse: A</li>
<li>Erforderlicher Förderdruck: 12 Pa</li>
<li>Heizleistung (max.): 7,1 kW</li>
<li>Nennwärmeleistung: 7,1 kW</li>
<li>Wirkungsgrad: 80 %</li>
</ul>
<p><b>Maßangaben</b></p>
<ul>
<li>Höhe: 58 cm</li>
<li>Breite: 56,3 cm</li>
<li>Tiefe: 43 cm</li>
<li>Feuerraum Breite: 55 cm</li>
<li>Feuerraum Höhe: 35 cm</li>
<li>Feuerraum Tiefe: 29 cm</li>
<li>Tiefe von Hinterkante bis Mitte Rauchrohrstutzen oben: 11,7 cm</li>
<li>Ofen Breite: 56,3 cm</li>
<li>Ofen Höhe: 58 cm</li>
<li>Ofen Tiefe: 43 cm</li>
<li>Rohrdurchmesser: 150 mm</li>
<li>Sicherheitsabstand hinten: 60 cm</li>
<li>Sicherheitsabstand seitlich: 60 cm</li>
<li>Sicherheitsabstand vorne: 60 cm</li>
</ul>
<p><b>Materialangaben</b></p>
<ul>
<li>Material Innenverkleidung: Vermiculit</li>
<li>Material Verkleidung: Stahl</li>
</ul>
<p><b>Funktionen und Ausstattung</b></p>
<ul>
<li>Anschlagrichtung: links</li>
<li>Aschebehälter: Ja</li>
<li>Ascherost: Ja</li>
<li>Ausstattungsdetails: Scheibenspülung</li>
<li>Automatikregelung: Nein</li>
<li>Dauerbrand: Nein</li>
<li>Sichtscheibe: Ja</li>
<li>Speichersteine: Nein</li>
<li>Verriegelung: 2-Punkt</li>
<li>Wasserführend: Nein</li>
<li>Zeitbrand: Ja</li>
<li>Ausstattung: Scheibenspülung</li>
</ul>
<p><b>Normen</b></p>
<ul>
<li>DIN/ISO/EN: DIN 13240</li>
<li>Prüfnummer: TD4781/TD4781 P CTIF</li>
<li>Ö-Norm § 15 A: Nein</li>
<li>VKF Schweiz: Nein</li>
<li>Münchener Norm: Nein</li>
<li>2. Stufe BImSchV: Ja</li>
<li>DINplus: Ja</li>
<li>Regensburger Norm: Nein</li>
<li>DIN EN 13240: Ja</li>
</ul>
<p><b>Hinweise</b></p>
<ul>
<li>Aufbauhinweise: Zur Aufstellung ist ein feuerfester Untergrund Voraussetzung, andernfalls eine Stahl- oder Glasbodenplatte.</li>
<li>Herstellergarantie: 5 JAHRE</li>
</ul>
<p><b>Lieferung</b></p>
<ul>
<li>Lieferumfang: Kaminofen, Bedienungsanleitung</li>
</ul>
<p>The post <a rel="nofollow" href="https://www.holzelektro.com/ref/panadero-kaminofen-onix-wall-stahl-71-kw-schwarz/">PANADERO Kaminofen Onix Wall, Stahl, 7,1 kW &#8211; schwarz</a> appeared first on <a rel="nofollow" href="https://www.holzelektro.com">Heizen &amp; Klima Günstig kaufen</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://www.holzelektro.com/ref/panadero-kaminofen-onix-wall-stahl-71-kw-schwarz/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
